html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(
    135deg,
    rgba(30, 35, 52, 1) 0%,
    rgba(85, 107, 242, 1) 50%,
    rgba(169, 80, 254, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow: hidden;

  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* From progressive */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
